 /* ESTRATEGIA UTILIZADA FIRST-MOBILE
 MEDIDAS: 425PX
          768PX 
          1024PX */

 /*importar la fuente que se utilizo para el proyecto */
 @import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
 @import url("https://fonts.googleapis.com/css2? family= Inconsolata:wght@200 & display=swap");

 /* Reseteo */
 * {
     margin: 0;
     padding: 0;
     box-sizing: border-box;
 }

 /* Configuracion de la imagen del icono */
 header img {
     width: 80px;
     height: 60px;
     border-radius: 50%;
 }

 /* Fijacion del header para que acompañe en toda la pagina */
 .fijar {
     background-image: linear-gradient(45deg, #46494cd5 75%, #6e7277f3);
 }

 /* Configuracion del header para que acompañe el tamaño de la pantalla */
 .conf-header {
     display: flex;
     justify-content: space-between;
     align-items: center;
     flex-wrap: wrap;
     flex-direction: column;
 }

 /* Configuracion de la lista del header para que acompañe el tamaño de la pantalla*/
 .conf-nav {
     display: flex;
     justify-content: space-evenly;
     list-style: none;
     font-size: 15px;
     background-color: #c5c3c6;
     list-style-type: none;
     flex-wrap: wrap;
     align-content: center;
     align-items: center;
 }

 /* Configuracion de los elementos de la lista del navegador */
 header div ul li {
     margin: 0 10px;
     display: inline;
     font-size: 15px;
 }

 /* Logo de whatsapp para que quede fijo en la pantalla */
 .wapp {
     display: none;
 }

 /* Configuracion de todos los links */
 a {
     text-decoration: none;
     text-align: center;
     font-family: "Oswald", sans-serif;
     letter-spacing: 0px;
 }

 /* Se modifica la clase de boostrap para cambiar color de letras de los links */
 .navbar {
     --bs-navbar-color: #1985a1;
 }

 /* Se utiliza para centrar los elementos del navbar */
 .navbar-expand-lg .navbar-collapse {
     justify-content: center;
 }

 /* Modificacion de el fondo de los elementos del navbar*/
 .collapse {
     background-color: #c5c3c6;
 }

 /* Modificacion del menu Hamburguesa */
 .navbar-toggler {
     background-color: #1985a1;
     color: black;
 }

 /* centrar imagenes de los banners */
 .img-center {
     display: block;
     margin: 0px auto;
     height: 250px;
     width: 100%;
 }

 /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */
 .galeria {
     display: grid;
     align-items: center;
     justify-items: center;
 }

 /* Acomodar las imagenes y titulos de la galeria */
 .cuadrilla-imagenes {
     border-bottom: 3px black solid;
     display: inline-block;
     width: 100%;
     height: 100%;
     margin: 8px;
     text-align: center;
     font-size: 12px;
     overflow: hidden;
     background-color: white;
 }

 /* Configuracion de los elementos del footer */
 .class-footer {
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-evenly;

     
 }

 .fondo-footer {
     background-color: #4c5c68;
 }

 /* Mofiicacion de la fuente de los elementos "p" */
 p {
     font-family: "Inconsolata", monoespaciado;
     font-size: 14px;
     text-align: center;
 }

 /* Configuracion del color de fondo de todas las imagenes */
 main {
     background-color: #dcdcdd;
 }

 /* Configuracion del formulario de contacto en la pagina contacto.html */
 .form-conf {
     display: grid;
     justify-items: center;
     align-items: center;
     justify-content: space-around;
 }

 /* Configuracion de los titulos de cada pagina */
 .titulos {
     display: block;
     text-align: center;
     background-color: #4c5c68;
     font-family: "Oswald", sans-serif;
     font-size: 20px;
     text-shadow: 3px 2px #1985a1;
 }

 .nombre {
     display: none;
 }

/* Configuracion del icono de whatsapp */
 .fa-square-whatsapp{
    font-size: 1.5rem;
 }

 /* Configuracion del icono de instagram */
 .fa-square-instagram{
    font-size: 1.5rem;
 }

 /* Configuracion del icono de facebook */
 .fa-square-facebook{
    font-size: 1.5rem;
 }

 /* Configuracion del icono de correo */
 .fa-envelope{
    font-size: 1.5rem;
 }

 /* Configuracion de los elementos del footer */
 .iconos-footer{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
 }



 /* Estrategia utilizada mobile first */
 @media (min-width: 768px) {

     header img {
         width: 120px;
         height: 100px;
     }


     .conf-header {
         display: grid;
         grid-template-columns: 1fr 4fr;
     }

     header div ul li {
         margin: 0 8px;
         font-size: 16px;
     }

     .wapp {
        display: block;
         position: fixed;
         width: 55px;
         height: 40px;
         bottom: 55px;
         left: 5%;
         border-radius: 100%;
     }

     a {
         font-size: 20px;
     }

     .img-center {
         height: 400px;
     }

     .galeria {
         display: grid;
         grid-template-columns: repeat(2, 50vh);
         justify-content: space-around;
     }

     .cuadrilla-imagenes {
         border: 3px black solid;
     }

     .class-footer {
         font-size: 15px;
     }

     p {
         font-size: 16px;
     }

     .titulos {
         font-size: 25px;

     }
 }

 /* Estrategia utilizada mobile first */
 @media (min-width: 1024px) {

     header img {
         width: 150px;
         height: 130px;
     }

     /* modifica el tamaño de la letras de los elementos del navbar */
     .nav-link {
         font-size: 25px;
     }

     /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */
     .galeria {
         display: grid;
         grid-template-columns: repeat(3, 33vh);
         justify-content: space-evenly;
     }

     /* Acomodar las imagenes y titulos de la galeria */
     .cuadrilla-imagenes {
         width: 100%;
         height: 98%;
         border: 3px black solid;
         font-size: 32px;

     }

     .cuadrilla-imagenes:hover {
         transform: scale(1, 1) translate(10px, 10px);
         transition: .3s;
     }

     .img-center {
         display: block;
         margin: 0px auto;
         height: 600px;
     }

     .titulos {
         font-size: 80px;

     }

     p {
         font-size: 25px;

     }

     .wapp {
         width: 65px;
         height: 55px;
     }

     .fa-square-whatsapp{
        font-size: 3rem;
     }
    
     .fa-square-instagram{
        font-size: 3rem;
     }
    
     .fa-square-facebook{
        font-size: 3rem;
     }
    
     .fa-envelope{
        font-size: 3rem;
     }


 }