@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Inconsolata:wght@200 & display=swap");
/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

header {
  /* Fijacion del header para que acompañe en toda la pagina */
  /* Se modifica la clase de boostrap para cambiar color de letras de los links */
  /* Se utiliza para centrar los elementos del navbar */
  /* Modificacion de el fondo de los elementos del navbar*/
  /* Modificacion del menu Hamburguesa */
  /* Configuracion de todos los links */ }
  header .fijar {
    background-image: linear-gradient(45deg, #46494cd5 75%, #6e7277f3); }
  header img {
    width: 80px;
    height: 60px;
    border-radius: 50%; }
  header .navbar {
    --bs-navbar-color: #1985a1; }
  header .navbar-expand-lg .navbar-collapse {
    justify-content: center; }
  header .collapse {
    background-color: #c5c3c6; }
  header .navbar-toggler {
    background-color: #1985a1;
    color: black; }
  header a {
    text-decoration: none;
    text-align: center;
    font-family: "Oswald", sans-serif;
    letter-spacing: 0px; }

main {
  /* Logo de whatsapp para que quede fijo en la pantalla */
  /* centrar imagenes de los banners */
  /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */
  /* Mofiicacion de la fuente de los elementos "p" */
  /* Configuracion de los titulos de cada pagina */
  /* Configuracion del formulario de contacto en la pagina contacto.html */ }
  main .fondo-main {
    background-color: #DCDCDD; }
  main .wapp {
    display: none; }
  main .img-center {
    display: block;
    margin: 0px auto;
    height: 200px;
    width: 100%; }
  main .galeria {
    display: grid;
    align-items: center;
    justify-items: center; }
    main .galeria__cuadrillasimagenes {
      /* Acomodar las imagenes y titulos de la galeria */
      border-bottom: 3px black solid;
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 8px;
      font-size: 14px;
      overflow: hidden;
      background-color: white;
      text-align: center; }
  main p {
    font-family: "Inconsolata", monoespaciado;
    font-size: 14px;
    text-align: center; }
  main .titulos {
    display: block;
    background-color: #4c5c68;
    text-align: center;
    font-family: "Oswald", sans-serif;
    font-size: 20px;
    text-shadow: 3px 2px #1985a1; }
  main .form-conf {
    display: grid;
    justify-items: center;
    align-items: center;
    justify-content: space-around; }

footer {
  /* Configuracion del icono de whatsapp */
  /* Configuracion del icono de instagram */
  /* Configuracion del icono de facebook */
  /* Configuracion del icono de correo */
  /* Mofiicacion de la fuente de los elementos "p" */ }
  footer .fondo-footer {
    background-color: #4c5c68; }
    footer .fondo-footer__iconosfooter {
      /* Configuracion de los elementos del footer */
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly; }
  footer .fa-square-whatsapp {
    font-size: 1.5rem; }
  footer .fa-square-instagram {
    font-size: 1.5rem; }
  footer .fa-square-facebook {
    font-size: 1.5rem; }
  footer .fa-envelope {
    font-size: 1.5rem; }
  footer p {
    font-family: "Inconsolata", monoespaciado;
    font-size: 12px;
    background-color: #4c5c68;
    text-align: center; }

/* Estrategia utilizada mobile first */
@media (min-width: 768px) {
  header img {
    width: 120px;
    height: 100px; }
  header a {
    font-size: 50px; }
  main {
    /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */ }
    main .wapp {
      display: block;
      position: fixed;
      width: 55px;
      height: 40px;
      bottom: 55px;
      left: 5%;
      border-radius: 100%; }
    main .img-center {
      height: 400px; }
    main .galeria {
      display: grid;
      grid-template-columns: repeat(2, 50vh);
      justify-content: space-around; }
      main .galeria__cuadrillasimagenes {
        /* Acomodar las imagenes y titulos de la galeria */
        border: 3px black solid; }
    main .titulos {
      font-size: 30px; }
    main p {
      font-size: 18px; }
  footer p {
    font-size: 18px; } }

/* Estrategia utilizada mobile first */
@media (min-width: 1024px) {
  header {
    /* modifica el tamaño de la letras de los elementos del navbar */ }
    header img {
      width: 150px;
      height: 130px; }
    header .nav-link {
      font-size: 25px; }
  main {
    /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */ }
    main .galeria {
      display: grid;
      grid-template-columns: repeat(3, 33vh);
      justify-content: space-evenly; }
      main .galeria__cuadrillasimagenes {
        /* Acomodar las imagenes y titulos de la galeria */
        width: 340px;
        height: 98%;
        border: 3px black solid; }
        main .galeria__cuadrillasimagenes:hover {
          transform: scale(1, 1) translate(10px, 10px);
          transition: 0.3s; }
    main .img-center {
      display: block;
      margin: 0px auto;
      height: 600px; }
    main .titulos {
      font-size: 80px; }
    main .wapp {
      width: 65px;
      height: 55px; }
  footer .fa-square-whatsapp {
    font-size: 3rem; }
  footer .fa-square-instagram {
    font-size: 3rem; }
  footer .fa-square-facebook {
    font-size: 3rem; }
  footer .fa-envelope {
    font-size: 3rem; }
  footer p {
    font-size: 28px; } }
