@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2? family= Inconsolata:wght@200 & display=swap");

/* Reseteo */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
@import './variables/paleta-proyecto';
@import './variables/tamanos-textos';
@import './variables/extend';

@import "./sections/header";
@import "./sections/principal";
@import "./sections/footer";
@import "./sections/mediaquerys";
