footer {
  .fondo-footer {
    background-color: $fondoFooter;
    
    &__iconosfooter {
      /* Configuracion de los elementos del footer */
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
  }
  /* Configuracion del icono de whatsapp */
  .fa-square-whatsapp {
    @extend %iconos;
  }

  /* Configuracion del icono de instagram */
  .fa-square-instagram {
    @extend %iconos;
  }

  /* Configuracion del icono de facebook */
  .fa-square-facebook {
    @extend %iconos;
  }

  /* Mofiicacion de la fuente de los elementos "p" */
  p {
    font-family: "Inconsolata", monoespaciado;
    font-size: $descripcion - 2px;
    @include fondo($fondoFooter);
  }
}
