header {
  /* Fijacion del header para que acompañe en toda la pagina */
  .fijar {
    background-image: linear-gradient(45deg, $fondoHeader 65%, #1d35576c);
  }
  img {
    width: 80px;
    height: 60px;
    border-radius: 50%;
  }

  /* Se modifica la clase de boostrap para cambiar color de letras de los links */
  .navbar {
    --bs-navbar-color: #E63946;
  }

  /* Se utiliza para centrar los elementos del navbar */
  .navbar-expand-lg .navbar-collapse {
    justify-content: center;
  }
  /* Modificacion de el fondo de los elementos del navbar*/
  .collapse {
    background-color: #F1FAEE;
  }

  /* Modificacion del menu Hamburguesa */
  .navbar-toggler {
    background-color: #F1FAEE;
    color: black;
  }
  /* Configuracion de todos los links */
  a {
    text-decoration: none;
    @include centrartexto("Oswald");
    letter-spacing: 0px;
  }
}
