/* Estrategia utilizada mobile first */
@media (min-width: 768px) {
  header {
    img {
      width: 120px;
      height: 100px;
    }
    a {
      font-size: $titulo + 30px;
    }
  }
  main {
    .wapp {
      display: block;
      position: fixed;
      width: 55px;
      height: 40px;
      bottom: 55px;
      left: 5%;
      border-radius: 100%;
    }
    .img-center {
      height: 400px;
    }

    /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */
    .galeria {
      display: grid;
      grid-template-columns: repeat(2, 50vh);
      justify-content: space-around;

      &__cuadrillasimagenes {
        /* Acomodar las imagenes y titulos de la galeria */
        border: 3px black solid;
      }
    }

    .titulos {
      font-size: $titulo + 10px;
    }
    p {
      font-size: $descripcion + 4px;
    }
  }
  footer {
    p {
      font-size: $descripcion + 4px;
    }
  }
}

/* Estrategia utilizada mobile first */
@media (min-width: 1024px) {
  header {
    img {
      width: 150px;
      height: 130px;
    }
    /* modifica el tamaño de la letras de los elementos del navbar */
    .nav-link {
      font-size: $titulo + 5px
    }
  }
  main {
    /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */
    .galeria {
      display: grid;
      grid-template-columns: repeat(3, 33vh);
      justify-content: space-evenly;

      &__cuadrillasimagenes {
        /* Acomodar las imagenes y titulos de la galeria */
        width: 340px;
        height: 98%;
        border: 3px black solid;
        &:hover {
          transform: scale(1, 1) translate(10px, 10px);
          transition: 0.3s;
        }
      }
    }
    .img-center {
      display: block;
      margin: 0px auto;
      height: 600px;
    }
    .titulos {
      font-size: $titulo * 4;
    }

    .wapp {
      width: 65px;
      height: 55px;
    }
  }
  footer {
    .fa-square-whatsapp {
      font-size: $icono * 2;
    }

    .fa-square-instagram {
      font-size: $icono * 2;
    }

    .fa-square-facebook {
      font-size: $icono * 2;
    }

    .fa-envelope {
      font-size: $icono * 2;
    }
    p {
      font-size: $descripcion * 2;
    }
  }
}
