main {
  .fondo-main {
    background-color: $fondoMain;
  }
  /* Logo de whatsapp para que quede fijo en la pantalla */
  .wapp {
    display: none;
  }
  /* centrar imagenes de los banners */
  .img-center {
    display: block;
    margin: 0px auto;
    height: 200px;
    width: 100%;
  }
  /* Armar galeria de imagenes y que se ajusten al tamaño de la pantalla */
  .galeria {
    @extend %centrar;

    &__cuadrillasimagenes {
      /* Acomodar las imagenes y titulos de la galeria */
      border-bottom: 3px black solid;
      display: inline-block;
      width: 100%;
      height: 100%;
      margin: 8px;
      font-size: $descripcion;
      overflow: hidden;
      @include fondo(white);
    }
  }

  /* Mofiicacion de la fuente de los elementos "p" */
  p {
    font-size: $descripcion;
    @include centrartexto("Inconsolata");
  }
  /* Configuracion de los titulos de cada pagina */
  .titulos {
    display: block;
    @include fondo(#4c5c68);
    font-family: "Oswald", sans-serif;
    font-size: $titulo;
    text-shadow: 3px 2px $sombras;
  }
  /* Configuracion del formulario de contacto en la pagina contacto.html */
  .form-conf {
    @extend %centrar;
    justify-content: space-around;
  }
}
