//Mixin

@mixin fondo ($colorFondo){
    background-color: $colorFondo;
    text-align: center;
}

@mixin centrartexto ($family){
    font-family: ($family);
    text-align: center;
}

@mixin centro ($direccion){
    display: flex;
    align-items: center;
    flex-direction: ($direccion);
}

@mixin titulo-img ($fondo){
    background-color: ($fondo);
    border: 3px solid black;
    text-align: center;
}